@import '../../constants/colors';

.sort{
  text-align: right;
  background-color: $first-color;
  padding: 20px 5% 20px 0;
  span{
    text-transform: uppercase;
    font-size: 18px;
    padding-right: 10px;
    font-weight: 100;
    color: $first-text-color;
  }
}
