#article{
  margin: 20px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  h3{
    text-align: center;
    padding-bottom: 20px;
  }
  .banner{
    padding-top: 20px;
    padding-bottom: 10px;
    img{
      width: 100%;
    }
  }
  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
}