#articles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article{
  width: calc(100%/5);
  min-width: 320px;
  cursor: pointer;
  padding: 10px;
  img{
    width: 100%;
    height: 100%;
  }
  &:hover{
    padding: 0;
  }
}