footer{
  height: 80px;
  background-color: $main-color;
  margin-top: -80px;
  padding-left: 20px;
  padding-right: 20px;
  color: $second-text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 20px;
  }
}