header {
  background-color: $main-color;
  nav {
    margin: 0 20px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      li {
        a {
          display: inline-block;
          letter-spacing: 1px;
          padding: 10px 20px;
          text-decoration: none;
          color: $second-text-color;
        }
        &hover {
          color: $background-color;
        }
      }
    }
  }
}
