.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid black;
  a{
    text-decoration: none;
    color: black;

    .left-content {
      display: flex;
      flex-direction: row;
      align-items: center;

      .square {
        width: 20px;
        height: 20px;
        border: 1px solid black;
      }

      p {
        margin-left: 10px;
        font-size: 20px;
      }
    }

  }


  .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-size: 18px;
      margin-right: 10px;
    }

    button {
      border: 1px solid black;
      padding: 5px 10px;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
      background-color: #b2b2b2;
    }
  }
}
