<div class="setting-group">
  <div class="setting-group--select">
    <select name="" id="" (change)="changeSource($event)">
      <option value="0" disabled selected>Select Source</option>
      <option value="{{source.id}}" *ngFor="let source of sources">{{source.name}}</option>
    </select>
  </div>

  <div class="setting-group--filter">
    <input type="text" placeholder="Type your text...">
    <button>Filter</button>
  </div>

  <div class="setting-group--checkbox">
    <label for="only-mine">
      Only created by me
      <input type="checkbox" id="only-mine" [checked]="settingsService.onlyMine" (click)="toggleCheckbox()">
    </label>
  </div>

  <div class="setting-group--add">
    <a routerLink="/add" routerLinkActive="true">Add Article</a>
  </div>
</div>
